@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

body {
  background-color: rgb(241 245 249);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hero-section {
  background-image: linear-gradient(to right, rgba(30, 64, 175, 0.95) 0 35%, rgba(30, 64, 175, 0.4)), url('/sawah2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 10%; /* Center the background image */
}

.struktur-section {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(104, 109, 124, 0.9), rgba(104, 109, 124, 0.7)), url('/kantor.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; /* Center the background image */
}

.parallax-content {
  position: relative;
  z-index: 2;
}

.eksplorasi {
  background-image: url('/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the background image */
}

.parallax {
  background-image: url('/mekarharja.png');
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 10;
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
